<ion-header>
  <ion-toolbar>
    <ion-title>Moviminetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Abilidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let abilidad of abilities">
          <ion-label>{{abilidad.name}}</ion-label>
          <p *ngFor="let effect of abilidad.effect_entries">{{effect.effect}}</p>
          
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
